<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <context:component-scan base-package="com.jas.aop"/>
    <!-- 配置切面的bean -->
    <bean id="loggingAspect" class="com.jas.aop.xml.LoggingAspect"/>
    
    <aop:config>
        <!-- 配置切点表达式 -->
        <aop:pointcut id="pointcut1" expression="execution(public void com.jas.aop.bean.PersonImpl.sayHello())"/>
        <aop:pointcut id="pointcut2" expression="execution(public void com.jas.aop.bean.PersonImpl.sayBye(String))"/>
        <!-- 配置切面 -->
        <aop:aspect ref="loggingAspect">
            <!-- 配置通知 -->
            <aop:before method="beforeMethod" pointcut-ref="pointcut1"/>
            <aop:around method="aroundMethod" pointcut-ref="pointcut2"/>
        </aop:aspect>
    </aop:config>
</beans>